body {
	background: gray;

}

h2 {
	background: #573F3A;
	font-family: "Times New Roman", Times, serif;
	font-size: 500%;
	border-top: 15px solid;
	border-bottom: 15px solid;
	width: 900px;
    float: center;

    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


p {
	background-color: #573F3A;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	float: center;
	padding: 5px 5px;
	font-size: 150%;
	border-top: 5px solid;
	border-bottom: 5px solid;
}
.goals {
	color: #C8BEBC;
	float: center;
	padding: 5px 5px;
	font-size: 150%;
	border-top: 5px solid;
	border-bottom: 5px solid;
}
.exp {
	color: #C8BEBC;
	float: center;
	padding: 5px 5px;
	font-size: 150%;
	border-top: 5px solid;
	border-bottom: 5px solid;
}

.part1{
	width: 700px;
    height: 250px;
    border: 2px solid;
    background-color: gray;
    float: center;

    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.part2{
	width: 700px;
    height: 250px;
    border: 2px solid;
    background-color: gray;
    float: center;

    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.part3{
	width: 700px;
    height: 400px;
    border: 2px solid;
    background-color: gray;
    float: center;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.part4{
	width: 700px;
    height: 300px;
    border: 2px solid;
    background-color: gray;
    float: center;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.part5{
	width: 700px;
    height: 25px;
    border: 2px solid;
    background-color: gray;
    float: center;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

